# ========================
# UPM Package
# ========================

# macOS
.DS_Store
*.DS_Store

# Keep UPM doc/samples/sandbox folders even with global *~ ignore rules
!Documentation~/
!Documentation~/**
!Samples~/
!Samples~/**
!Sandbox~/
!Sandbox~/**

# Logs
*.log
